.cart_card_resize {
  width: 39rem;
}

.cart_card_content {
  margin-top: 0.375rem;
}

.cart_card_imgresize {
  width: 13rem;
  height: 13rem;
}

.cart_card_closeicon {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

.cart_card_solidbtn {
  margin-left: 0.8rem;
}

.cart_card_outlinebtn {
  border: 1px solid var(--plant-pri-clr);
  color: var(--plant-pri-clr);
  background-color: white;
}

.cart_card_quantitycontainer {
  align-items: center;
  margin: 1rem 0 0 0.8rem;
}

.cart_card_quantity_inp {
  text-align: center;
  width: 3rem;
  height: 1.7rem;
  outline: none;
}

.cart_card_btncontainer {
  margin-top: 1.8rem;
}

.customstyle_btn {
  padding: 0.1rem 0.4rem;
  margin: 0 0.5rem;
}
